.inputContainer {
  position: relative;
  width: 100%;

  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  height: 1.5em;
  padding: 13px 12px;
  gap: 8px;
  background-color: #ffffff;
  border: 1px solid $secondary-color;
  border-radius: 5px;

  font-size: 16px;
  line-height: 20px;
  font-family: "Roboto";
}

.input:focus {
  border: 1px solid #518581;
  outline: none;
}

.inputAfterSlot {
  position: absolute;
  right: 12px;
}
