.header {
  position: sticky;
  top: 0;
  background-color: $header-bg-color;
  padding: 2em;
  border-bottom: 2px solid $header-border-color;
  z-index: 900;

  .header_desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
      display: none;
    }
  }

  .header_mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 769px) {
      display: none;
    }
  }
}
