.product_list {
  height: fit-content;
  margin: 2em;

  display: grid;
  gap: $spacing-sm;
  grid-template-columns: 1fr;

  @include respond('sm') {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: $spacing-sm;
  }

  @include respond('md') {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: $spacing-md;
  }

  @include respond('lg') {
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    gap: $spacing-lg;
  }
}

.subinfo {
  width: 60%;
  margin: 5em auto 0;
  display: flex;
  flex-direction: column;
  gap: 1em;

  & p {
    text-align: center;
  }
}

.total {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 2em;
}

.controls {
  display: flex;
  gap: 1rem;
  margin: 2rem;
  flex-wrap: wrap;

  & .categoryFilter {
    min-width: 100%;

    @include respond('sm') {
      min-width: 70%;
    }

    @include respond('md') {
      min-width: 35%;
    }

    @include respond('lg') {
      min-width: 28%;
    }
  }
}
