@media (max-width: 768px) {
  .modal {
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 1000;

    &.open {
      right: 0;
    }

    .modal_content {
      position: relative;
      background-color: $header-bg-color;
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
      padding: 2rem;
      width: 250px;
      height: 100vh;
      right: -100%;
      transition: right 0.5s ease;

      display: flex;
      flex-direction: column;
      gap: 30%;
    }

    &.open .modal_content {
      right: 0;
      z-index: 1001;
    }

    &::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.5);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
      overflow: hidden;
    }

    &.open::before {
      z-index: -1;
      opacity: 1;
      visibility: visible;
    }
  }
}
