.button {
  display: flex;
  align-items: center;
  max-height: 60px;
  max-width: 100%;
  width: fit-content;
  overflow: hidden;
  padding: 1.5em 2.5em;
  background-color: $btn-bg-color;
  border: none;
  color: $btn-text-color;
  transition: all 0.2s ease;
  cursor: pointer;

  .loader path {
    fill: $btn-text-color;
  }
}

:global(.ghost) {
  border: 2px solid $secondary-color;
  background-color: $site-bg-color;
  color: $primary-color;
}

:global(.btn_over) {
  background-color: $btn-over-color;
  color: $btn-text-color;
}
:global(.btn_disabled) {
  background-color: $btn-disabled-color;
}
:global(.btn_pressed) {
  background-color: $btn-pressed-color;
}
